<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RafflesMallDataSyn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ConnectionString" value="server=localhost;database=AdvSnk;uid=sa;pwd=">
    </add>
    <!--许可证书 商场提供每个租户单位一个-->
    <add key="licensekey" value="B120B11"/>
    <!--交易货号2999-->
    <add key="itemcode" value="B120B11"/>
    <!--商场编号-->
    <add key="mallid" value="2999"/>
    <!--交易店铺号2999-->
    <add key="storeCode" value="B120B1"/>
    <!--用户帐号 商场提供每个租户单位一个 -->
    <add key="username" value="B120B1"/>
    <!--用户密码 商场提供每个租户单位一个-->
    <add key="password" value="B120B11"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <RafflesMallDataSyn.Properties.Settings>
      <setting name="RafflesMallDataSyn_WebReference_sales" serializeAs="String">
        <value>http://10.156.117.14/TTPOS/sales.asmx</value>
      </setting>
    </RafflesMallDataSyn.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
